/* 1. ---Main Nav--- */
  #sticky-nav-con {
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: transparent;
  }

  
  #main-nav button {
    width: 20px;
    height: 20px;
    background: url(../images/burger.svg) no-repeat center;
    margin-top: 15px;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    margin-top: 22px;
    margin-left: 30px;
    border: 0;
  }
  
  #main-nav button.expanded {
    transform: rotate(90deg);
  }
  
  #main-nav .toggle_button {
    color: #fff;
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
  }
  
  #mobile_dropdown_menu {
    display: none;
    position: absolute;
    right: -300px;
    top: 70px;
    width: 300px;
    height: 0px;
    background-color: rgb(18, 18, 18);
    overflow: hidden;
    transition: right 0.5s ease;
  }
  
  #mobile_dropdown_menu li {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  #mobile_dropdown_menu ul li a {
    color: #5B5B5B;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
  }
  
  /* Lightbox */
  #burger-con {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  /* Styling for the UL inside the lightbox */
  #burger-con ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  #burger-con ul li a {
    color: white;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
  }
  
  #close-btn {
    position: absolute;
    transform: rotate(90deg);
    top: 0px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
  }
  /* Show lightbox when toggled */
  #burger-con.show {
    display: flex;
  }
  
  #burger-con.show ul {
    display: flex; /* Make sure UL is flex or block when lightbox is active */
    flex-direction: column;
    align-items: center;
  }
  
  #main-nav ul li a:hover {
    color: #1E1E1E;
  }
  
  #main-nav ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin-top: -35px;
    /* 이걸로 위아래 위치 조정 */
  }
  
  #main-nav ul li a {
    display: block;
    margin-right: 10px;
    font-size: 25px;
    text-align: center;
    color: #efefef;
  }

  /* profile-box */
  #profile-box {
    text-align: center;
    margin-top: 10%;
  }

  #profile-box h2 {
    color: #1E1E1E;
    font-weight: 900;
  }

  #profile-box p {
    margin-top: 4%;
  }

  /* projects-box */
  #projects-box {
    text-align: center;
  }

  #projects-box h2 {
    margin-top: 8%;
    color:#1E1E1E
  }

  #projects-box h3 {
    color: #EB4E00;
  }

  #projects-1, #projects-2 {
    width: 100%;
    height: 200px;
    background-color: #5B5B5B;
    
  }